{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  {% block message_info_homepage %}{% endblock %}

  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section id="home">
      <div class="container-fluid p-0">

        <!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper">
          <div class="rev_slider rev_slider_default" data-version="5.0">
            <ul>

              <!-- SLIDE 1 -->
              <li data-index="rs-1" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide1.jpg" data-rotate="0" data-saveperformance="off" data-title="Puieți de nuci altoiți" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway pl-30 pr-30"
                  id="rs-1-layer-1"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['-90']"
                  data-fontsize="['28']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:400; border-radius: 30px;">Comercializăm
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase bg-theme-colored-transparent text-white font-raleway pl-30 pr-30"
                  id="rs-1-layer-2"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['-20']"
                  data-fontsize="['48']"
                  data-lineheight="['70']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">Puieți de nuci altoiți
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white text-center"
                  id="rs-1-layer-3"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['50']"
                  data-fontsize="['16','18',24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">La cele mai bune prețuri de pe piață.
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                  id="rs-1-layer-4"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['115']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-default btn-circled pl-20 pr-20" href="produse.html">Produse</a> <a class="btn btn-theme-colored btn-circled pl-20 pr-20" href="contact.html">Comandă acum</a>
                </div>
              </li>

              <!-- SLIDE 2 -->
              <li data-index="rs-2" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide2.jpg" data-rotate="0" data-saveperformance="off" data-title="Plantarea puieților" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                  id="rs-2-layer-1"

                  data-x="['left']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-110']"
                  data-fontsize="['110']"
                  data-lineheight="['120']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:700;">Livezile
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pl-20 pr-20"
                  id="rs-2-layer-2"

                  data-x="['left']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['-25']"
                  data-fontsize="['35']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">cele mai frumoase sunt ale noastre și a clienților noștri
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white"
                  id="rs-2-layer-3"

                  data-x="['left']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['35','35','40']"
                  data-fontsize="['16','18',24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;"> Noi vă asigurăm asupra calității puieților noștri!  <br />

                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                  id="rs-2-layer-4"

                  data-x="['left']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['95','105','110']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-colored btn-lg btn-theme-colored pl-20 pr-20" href="contact.html">Comandă acum</a>
                </div>
              </li>

              <!-- SLIDE 3 -->
              <li data-index="rs-3" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide3.jpg" data-rotate="0" data-saveperformance="off" data-title="Siguranța zilei de mâine" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pr-20 pl-20"
                  id="rs-3-layer-1"

                  data-x="['right']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-90']"
                  data-fontsize="['64']"
                  data-lineheight="['72']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">Consultații
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                  id="rs-3-layer-2"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['-25']"
                  data-fontsize="['32']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">începând cu pregătirea solului,plantarea,curățarea etc.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white text-right"
                  id="rs-3-layer-3"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['30']"
                  data-fontsize="['16','18',24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">Și tot ce trebuie de făcut până la maturitatea <br />copacului
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                  id="rs-3-layer-4"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['95']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-colored btn-lg btn-flat btn-theme-colored pl-20 pr-20" href="contact.html">Comandă acum</a>
                </div>
              </li>

			  <!-- SLIDE 4 -->
              <li data-index="rs-4" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide4.jpg" data-rotate="0" data-saveperformance="off" data-title="walnutsia.com" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide4.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
              </li>

			  <!-- SLIDE 5 -->
              <li data-index="rs-5" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide5.jpg" data-rotate="0" data-saveperformance="off" data-title="walnutsia.com" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
              </li>

			  <!-- SLIDE 6 -->
              <li data-index="rs-6" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="static/assets/images/slider/slide6.jpg" data-rotate="0" data-saveperformance="off" data-title="walnutsia.com" data-description="">
                <!-- MAIN IMAGE -->
                <img src="static/assets/images/slider/slide6.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
              </li>

            </ul>
          </div>
          <!-- end .rev_slider -->
        </div>
      </div>
    </section>

    <!-- Section: Mission  -->
    <section class="bg-silver-light">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <h3 class="line-bottom mt-0 mt-sm-30">Despre <span class="text-theme-colored font-weight-800">noi</span></h3>

<p class= mb-15 >Pepinierea noastră este specializată in altoirea puieților de nuc, dar producem și portaltoiuri de măr PI-80 și M-26 și material săditor de alte culturi pomicole.</p>
<p>Locul de desfășurare a activității noastre de altoire și creștere este în Republica Moldova, dar ne extindem și in Romania și Europa. Oricând, la cererea potențialilor clienți putem face o excursie în pepiniera noastră și livezile de soiuri și maturitate diferite. Altoim,creștem și comercializăm puieți omologați în Republica Moldova și România, soiuri care sunt recunoscute de intreaga Europa.</p>

<p>Pentru anul acesta avem în realizare următoarele soiuri de nuc:<br>

➤ <strong>Schinoasa</strong> <br>
➤ <strong>Cazacu</strong> <br>
➤ <strong>Costiujeni</strong> <br>
➤ <strong>Călărași</strong> <br>
➤ <strong>Chișinau</strong> <br>
➤ <strong>Recea</strong> <br>
➤ <strong>Corjeuți</strong> <br>
➤ <strong>Pesceanîi</strong> <p> și altele. Altoim și soiuri franceze la comandă:<strong>Lara, Fernor și Franquette</strong></p><br>


</p><a href="despre-noi.html" class="btn btn-theme-colored btn-flat">mai mult</a>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
              <img class="img-fullwidth mt-sm-40" src="static/assets/images/about/walnut.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Services -->
       <section id="services" class="layer-overlay overlay-white-4" data-bg-img="images/pattern/leaf7.png">
         <div class="container pb-40">
           <div class="section-title text-center">
             <div class="row">
               <div class="col-md-12">
                 <h2 class="mt-0 line-height-1">Serviciile <span class="text-theme-colored">noastre</span></h2>
               </div>
             </div>
           </div>
           <div class="section-content">
             <div class="row multi-row-clearfix">
               <div class="col-xs-12 col-sm-6 col-md-6">
                 <div class="icon-box bg-white-transparent-4 p-20 border-1px">
                   <a class="icon pull-right text-white mt-15" href="#">
                    <img src="{% static 'assets/images/test-ground.png' %}" alt="Test ground">
                   </a>
                   <h4 class="icon-box-title"><a href="#">Pregatirea solului</a></h4>
                   <p>Oferim consultații în materie de pregătire a suprafeței cât <și a conținutului (minerale, substanțe hrănitoare etc.) terenului pe care urmează a fi plantată livada. </p>
                 </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6">
                 <div class="icon-box bg-white-transparent-4 p-20 border-1px">
                   <a class="icon pull-right text-white mt-15" href="#">
                     <img src="{% static 'assets/images/prepare-ground.png' %}" alt="Prepare ground">
                   </a>
                   <h4 class="icon-box-title"><a href="#">Creștere și altoire puieți</a></h4>
                   <p>Preparăm poltaitoi, altoim și creștem puieți.</p>
                 </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6">
                 <div class="icon-box bg-white-transparent-4 p-20 border-1px">
                  <a class="icon pull-right text-white mt-15" href="#">
                     <img src="{% static 'assets/images/comercializare-puieti.png' %}" alt="Test ground">
                   </a>
                   <h4 class="icon-box-title"><a href="#">Comercializare puieți</a></h4>
                   <p>Gamă variată de puieți.</p>
                 </div>
               </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                 <div class="icon-box bg-white-transparent-4 p-20 border-1px">
                  <a class="icon pull-right text-white mt-15" href="#">
                     <img src="{% static 'assets/images/intretinere livada.png' %}" alt="Test ground">
                   </a>
                   <h4 class="icon-box-title"><a href="#">Consultații intreținere livadă</a></h4>
                   <p>Vă ajutăm .</p>
                 </div>
               </div>
               </div>
             </div>
           </div>
         </div>
       </section>

    <!-- Section: Campaign -->
   <!-- <section>
      <div class="container pb-40">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <h2 class="text-uppercase line-bottom-center mt-0">Produsele <span class="text-theme-colored">noastre</span></h2>
              <p>Informatii referitoare la stocul disponibil  puteți obține la<br /> <strong>telefon: 0733-94-68-30</strong><br /> sau<br /> <strong>adresa mail: <a href="mailto:contactpuietnuc@yahoo.com">contactpuietnuc@yahoo.com</a></strong></p>
            </div>
          </div>
        </div>
        <div class="row multi-row-clearfix">
          <div class="col-md-12">
            <div class="owl-carousel-4col" data-dots="true">

			  			  <div class="item">
                <div class="campaign bg-silver-light maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="images/project/alsoszentivani117.html" alt="" class="img-fullwidth">
                    <div class="campaign-overlay"></div>
                  </div>
                  <div class="campaign-details clearfix p-15 pt-10 pb-10">
                    <h5 class="text-theme-colored font-weight-500 mb-0">Alsoszentivanyi 117</h5>
                    <h4 class="font-weight-700 mt-0"><a href="#">1 an</a></h4>
                    <p>																						Dimensiune 30 - 100cm
																														<br /><a class="text-theme-colored ml-5" href="#"> →</a></p>
                    <div class="campaign-bottom border-top clearfix mt-20">
                      <ul class="list-inline font-weight-600 pull-left flip pr-0 mt-10">
                        <li class="text-gray"><i class="fa fa-shop-alt mr-10"></i>40,00 LEI</li>
                      </ul>
                      <a class="btn btn-xs btn-theme-colored font-weight-600 font-11 pull-right flip mt-10" href="detaliid61c.html?id=5">Detalii</a>
                    </div>
                  </div>
                </div>
              </div>
							  <div class="item">
                <div class="campaign bg-silver-light maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="images/project/milotaikesei.html" alt="" class="img-fullwidth">
                    <div class="campaign-overlay"></div>
                  </div>
                  <div class="campaign-details clearfix p-15 pt-10 pb-10">
                    <h5 class="text-theme-colored font-weight-500 mb-0">Milotai Kesei</h5>
                    <h4 class="font-weight-700 mt-0"><a href="#">1 an</a></h4>
                    <p>											Dimensiune 30 - 100cm.Intră pe rod în 2 ani de la plantație.
																				<br /><a class="text-theme-colored ml-5" href="#"> →</a></p>
                    <div class="campaign-bottom border-top clearfix mt-20">
                      <ul class="list-inline font-weight-600 pull-left flip pr-0 mt-10">
                        <li class="text-gray"><i class="fa fa-shop-alt mr-10"></i>42,00 LEI</li>
                      </ul>
                      <a class="btn btn-xs btn-theme-colored font-weight-600 font-11 pull-right flip mt-10" href="detalii3a9f.html?id=6">Detalii</a>
                    </div>
                  </div>
                </div>
              </div>
							  <div class="item">
                <div class="campaign bg-silver-light maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="images/project/1.html" alt="" class="img-fullwidth">
                    <div class="campaign-overlay"></div>
                  </div>
                  <div class="campaign-details clearfix p-15 pt-10 pb-10">
                    <h5 class="text-theme-colored font-weight-500 mb-0">Alsoszentivanyi Kesei</h5>
                    <h4 class="font-weight-700 mt-0"><a href="#">1 an</a></h4>
                    <p>																																																							Dimensiune: 30 cm - 1m
																																																												<br /><a class="text-theme-colored ml-5" href="#"> →</a></p>
                    <div class="campaign-bottom border-top clearfix mt-20">
                      <ul class="list-inline font-weight-600 pull-left flip pr-0 mt-10">
                        <li class="text-gray"><i class="fa fa-shop-alt mr-10"></i>42,00 LEI</li>
                      </ul>
                      <a class="btn btn-xs btn-theme-colored font-weight-600 font-11 pull-right flip mt-10" href="detalii8803.html?id=7">Detalii</a>
                    </div>
                  </div>
                </div>
              </div>
							  <div class="item">
                <div class="campaign bg-silver-light maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="images/project/milotai10.html" alt="" class="img-fullwidth">
                    <div class="campaign-overlay"></div>
                  </div>
                  <div class="campaign-details clearfix p-15 pt-10 pb-10">
                    <h5 class="text-theme-colored font-weight-500 mb-0">Milotai 10</h5>
                    <h4 class="font-weight-700 mt-0"><a href="#">2 ani</a></h4>
                    <p>																						Dimensiune 100cm- 200cm<br /><a class="text-theme-colored ml-5" href="#"> →</a></p>
                    <div class="campaign-bottom border-top clearfix mt-20">
                      <ul class="list-inline font-weight-600 pull-left flip pr-0 mt-10">
                        <li class="text-gray"><i class="fa fa-shop-alt mr-10"></i>65,00 LEI</li>
                      </ul>
                      <a class="btn btn-xs btn-theme-colored font-weight-600 font-11 pull-right flip mt-10" href="detaliic3c9.html?id=8">Detalii</a>
                    </div>
                  </div>
                </div>
              </div>
							  <div class="item">
                <div class="campaign bg-silver-light maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="images/project/alsoszentivani117.html" alt="" class="img-fullwidth">
                    <div class="campaign-overlay"></div>
                  </div>
                  <div class="campaign-details clearfix p-15 pt-10 pb-10">
                    <h5 class="text-theme-colored font-weight-500 mb-0">Alsoszentivanyi 117</h5>
                    <h4 class="font-weight-700 mt-0"><a href="#">2 ani</a></h4>
                    <p>																																	Dimensiune &nbsp; 100-200 cm&nbsp;<br /><a class="text-theme-colored ml-5" href="#"> →</a></p>
                    <div class="campaign-bottom border-top clearfix mt-20">
                      <ul class="list-inline font-weight-600 pull-left flip pr-0 mt-10">
                        <li class="text-gray"><i class="fa fa-shop-alt mr-10"></i>65,00 LEI</li>
                      </ul>
                      <a class="btn btn-xs btn-theme-colored font-weight-600 font-11 pull-right flip mt-10" href="detalii5255.html?id=9">Detalii</a>
                    </div>
                  </div>
                </div>
              </div>




            </div>
          </div>
        </div>
      </div>
    </section>-->
    <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay overlay-dark-4" data-bg-img="static/assets/images/slider/slide7.jpg" data-parallax-ratio="0.7">
      <div class="container pt-90 pb-90">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <h2 data-animation-duration="2000" data-value="3154" class="animate-number text-theme-colored font-42 font-weight-500 mt-0 mb-0">0</h2>
              <h5 class="text-white text-uppercase font-weight-600">Clienți mulțumiți</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">

          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <h2 data-animation-duration="2000" data-value="1800000" class="animate-number text-theme-colored font-42 font-weight-500 mt-0 mb-0">0</h2>
              <h5 class="text-white text-uppercase font-weight-600">Puieți vânduți</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
{% endblock %}
